@font-face {
  font-family: 'Roboto SemiCondensed';
  font-style: normal;
  font-weight: 500;
  src: url('@assets/fonts/RobotoSemiCondensed-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: bold;
  src: url('@assets/fonts/RobotoCondensed-BoldItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 900;
  src: url('@assets/fonts/RobotoCondensed-BlackItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: bold;
  src: url('@assets/fonts/RobotoCondensed-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 900;
  src: url('@assets/fonts/RobotoCondensed-Black.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 100;
  src: url('@assets/fonts/RobotoCondensed-Thin.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 500;
  src: url('@assets/fonts/RobotoCondensed-MediumItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: normal;
  src: url('@assets/fonts/RobotoCondensed-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: bold;
  src: url('@assets/fonts/RobotoCondensed-ExtraBoldItalic.woff2')
    format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 500;
  src: url('@assets/fonts/RobotoCondensed-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('@assets/fonts/RobotoCondensed-Light.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 600;
  src: url('@assets/fonts/RobotoCondensed-SemiBoldItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 600;
  src: url('@assets/fonts/RobotoCondensed-SemiBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 200;
  src: url('@assets/fonts/RobotoCondensed-ExtraLightItalic.woff2')
    format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: url('@assets/fonts/RobotoCondensed-LightItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto SemiCondensed';
  font-style: normal;
  font-weight: 900;
  src: url('@assets/fonts/RobotoSemiCondensed-Black.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 100;
  src: url('@assets/fonts/RobotoCondensed-ThinItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 200;
  src: url('@assets/fonts/RobotoCondensed-ExtraLight.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: normal;
  src: url('@assets/fonts/RobotoCondensed-Italic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: bold;
  src: url('@assets/fonts/RobotoCondensed-ExtraBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto SemiCondensed';
  font-style: normal;
  font-weight: 300;
  src: url('@assets/fonts/RobotoSemiCondensed-Light.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto SemiCondensed';
  font-style: italic;
  font-weight: bold;
  src: url('@assets/fonts/RobotoSemiCondensed-ExtraBoldItalic.woff2')
    format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto SemiCondensed';
  font-style: italic;
  font-weight: 200;
  src: url('@assets/fonts/RobotoSemiCondensed-ExtraLightItalic.woff2')
    format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto SemiCondensed';
  font-style: normal;
  font-weight: 200;
  src: url('@assets/fonts/RobotoSemiCondensed-ExtraLight.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto SemiCondensed';
  font-style: italic;
  font-weight: 900;
  src: url('@assets/fonts/RobotoSemiCondensed-BlackItalic.woff2')
    format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto SemiCondensed';
  font-style: italic;
  font-weight: 300;
  src: url('@assets/fonts/RobotoSemiCondensed-LightItalic.woff2')
    format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto SemiCondensed';
  font-style: italic;
  font-weight: normal;
  src: url('@assets/fonts/RobotoSemiCondensed-Italic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto SemiCondensed';
  font-style: normal;
  font-weight: bold;
  src: url('@assets/fonts/RobotoSemiCondensed-ExtraBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto SemiCondensed';
  font-style: italic;
  font-weight: bold;
  src: url('@assets/fonts/RobotoSemiCondensed-BoldItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto SemiCondensed';
  font-style: normal;
  font-weight: bold;
  src: url('@assets/fonts/RobotoSemiCondensed-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto SemiCondensed';
  font-style: italic;
  font-weight: 500;
  src: url('@assets/fonts/RobotoSemiCondensed-MediumItalic.woff2')
    format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  src: url('@assets/fonts/Roboto-Thin.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  src: url('@assets/fonts/Roboto-SemiBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 600;
  src: url('@assets/fonts/Roboto-SemiBoldItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 100;
  src: url('@assets/fonts/Roboto-ThinItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  src: url('@assets/fonts/Roboto-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  src: url('@assets/fonts/Roboto-ExtraLight.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: bold;
  src: url('@assets/fonts/Roboto-BoldItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto SemiCondensed';
  font-style: normal;
  font-weight: 100;
  src: url('@assets/fonts/RobotoSemiCondensed-Thin.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  src: url('@assets/fonts/Roboto-ExtraBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  src: url('@assets/fonts/Roboto-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: bold;
  src: url('@assets/fonts/Roboto-ExtraBoldItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  src: url('@assets/fonts/Roboto-Black.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto SemiCondensed';
  font-style: italic;
  font-weight: 100;
  src: url('@assets/fonts/RobotoSemiCondensed-ThinItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto SemiCondensed';
  font-style: italic;
  font-weight: 600;
  src: url('@assets/fonts/RobotoSemiCondensed-SemiBoldItalic.woff2')
    format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto SemiCondensed';
  font-style: normal;
  font-weight: 600;
  src: url('@assets/fonts/RobotoSemiCondensed-SemiBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 900;
  src: url('@assets/fonts/Roboto-BlackItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto SemiCondensed';
  font-style: normal;
  font-weight: normal;
  src: url('@assets/fonts/RobotoSemiCondensed-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  src: url('@assets/fonts/Roboto-LightItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  src: url('@assets/fonts/Roboto-Italic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url('@assets/fonts/Roboto-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 200;
  src: url('@assets/fonts/Roboto-ExtraLightItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url('@assets/fonts/Roboto-Light.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  src: url('@assets/fonts/Roboto-MediumItalic.woff2') format('woff2');
  font-display: swap;
}
