@use './reset' as *;
@import './fonts.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  scroll-behavior: smooth;
  font-family: Roboto, sans-serif;
}

body {
  margin: 0 auto;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
