.preferencesPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 10px 20px 20px;
  background-color: #f9f9f9;
}