.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  padding-top: 97px;

  &__title {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.15;
    color: #000;
    letter-spacing: 0;
  }

  &__text {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    color: #00000080;
    text-align: center;
    letter-spacing: 0;
  }
}