.connectPremiumPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: #f9f9f9;

  &__header {
    width: 100%;
    height: 59px;
    padding: 20px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #000;
    text-align: left;
    background-color: #FFF;
    border-bottom: 0.5px solid #D9D9D9;
    box-shadow: 0 4px 4px 0 #0000000D;
  }

  &__main {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 40px 20px 20px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
  }

  &__title {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    color: transparent;
    letter-spacing: 0;
    background: linear-gradient(180deg, #000 0%, #666 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__subtitle {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #00000080;
    text-align: center;
    letter-spacing: 0;
  }

  &__activeAccounts {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__accountSquare {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100px;
    padding: 20px 0 13px;
    font-family: Roboto, sans-serif;
    background-color: #FFF;
    border: 0.5px solid #D9D9D9;
    border-radius: 20px;
  }

  &__accountCount {
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: #000;
    text-align: center;
    letter-spacing: 0;
  }

  &__accountText {
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #00000080;
    text-align: center;
    letter-spacing: 0;
  }

  &__accountMax {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #00000040;
    text-align: center;
    letter-spacing: 0;
  }

  &__premiumConditions {
    align-self: flex-start;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #000;
    letter-spacing: 0;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: 96px;
    padding: 15px 20px;
    background-color: #FFF;
    border: 0.5px solid #D9D9D9;
    border-radius: 20px;
  }

  &__cardTitle {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: transparent;
    letter-spacing: 0;
    background: linear-gradient(90deg, #000 0%, #666 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__cardContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  &__textWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;


  }

  &__cardPlane {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #00000080;
    letter-spacing: 0;
  }

  &__cardPlaneDesc {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #000;
    letter-spacing: 0;

    &_green {
      color: #48D37E;
    }
  }

  &__vline {
    width: 1px;
    height: 25px;
    margin-right: auto;
    margin-left: auto;
    background-color: #00000040;
  }

  &__priceWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    border: 1px solid #00000080;
    border-radius: 20px;
  }

  &__priceText {
    font-family: Roboto, sans-serif;
  }

  &__price {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: transparent;
    letter-spacing: 0;
    background: linear-gradient(90deg, #000 0%, #666 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__perMounth {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #00000080;
    letter-spacing: 0;
  }

  &__priceDesc {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #00000080;
    text-align: center;
    letter-spacing: 0;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background-color: #FFF;
    border-top: 0.5px solid #D9D9D9;
  }

  &__subscribe {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 54px;
    text-decoration: none;
    cursor: pointer;
    background-color: #000;
    border-radius: 15px;
    transition: all 0.3s ease;

    &:active {
      transform: scale(1.05);
    }
  }

  &__subscribeText {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #FFF;
    letter-spacing: 0;
  }

  &__info {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #00000080;
    text-align: center;
    letter-spacing: 0;
  }
}