.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 42px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: regular;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  letter-spacing: 0;
  cursor: pointer;
  outline: none;
  background-color: #767676;
  border: none;
  border-radius: 10px;
  transition: all 0.2s ease;

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #b8b8b8;
    opacity: 1;
  }
}
