.premium {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 63px;
  padding: 15px 10px;
  margin-bottom: 5px;
  text-decoration: none;
  background-color: #767676;
  border-radius: 10px;

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    background-color: #B1B1B1;
    border-radius: 50%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__title {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: #FFF;
    letter-spacing: 0;
  }

  &__text {
    font-family: Roboto, sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
    color: #FFF;
    letter-spacing: 0;
  }

  &__link {
    position: absolute;
    top: 19px;
    right: 8px;
    bottom: 20px;
  }
}