.card {
  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 66px;
  padding: 10px;
  cursor: pointer;
  background-color: #FFF;
  border-bottom: 0.5px solid #D9D9D9;

  &:first-child {
    border-top: 0.5px solid #D9D9D9;
  }

  &__avatar {
    flex-grow: 0;
    flex-shrink: 0;
    width: 46px;
    height: 46px;
    object-fit: cover;
    background-color: #C4C4C4;
    border: 1px solid #F9F9F9;
    border-radius: 50%;
  }

  &__content {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    gap: 7px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__fullname {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.15;
    color: #000;
    letter-spacing: 0;
  }

  &__lastMessage {
    max-width: 175px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Roboto,sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    color: #00000080;
    letter-spacing: 0;
    white-space: nowrap;
  }

  &__meta {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 3px;
    align-items: flex-end;
    align-self: flex-start;
    justify-content: flex-start;
    margin-left: auto;
  }

  &__time {
    margin-top: 5px;
    font-family: Roboto,sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
    color: #00000080;
    letter-spacing: 0;
  }

  &__unread {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    font-family: Roboto, sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 1;
    color: #FFF;
    letter-spacing: 0;
    background-color: #767676;
    border-radius: 50%;
  }
}