.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding-top: 97px;
  text-align: center;

  &__title {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.15;
    color: #000;
    letter-spacing: 0;
  }

  &__text {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    color: #00000080;
    text-align: center;
    letter-spacing: 0;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 42px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    letter-spacing: 0;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    background-color: #767676;
    border: none;
    border-radius: 10px;
    transition: all .3s ease;
    
    &:hover {
      opacity: 0.8;
    }
  }
}
