.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  aspect-ratio: 1/1;
  user-select: none;
  background-color: #f6f6f6;
  border-radius: 50%;

  &__img {
    user-select: none;
  }
}
