.emptyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 54px;
  background-color: #fff;
  border-radius: 10px;

  &__title {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    color: #00000080;
    letter-spacing: 0;
  }
}