.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 59px;
  padding: 20px;
  background-color: #fff;
  border-bottom: 0.5px solid #d9d9d9;
  box-shadow: 0 4px 4px 0 #0000000d;

  &__title {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: medium;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0;
  }
}
