.logo {
  user-select: none;
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 110px;
  height: 110px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;

  &__img {
    user-select: none;
  }
}
