.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 74px;
  background-color: #fff;
  border-top: 0.5px solid #d9d9d9;

  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 190px;
  }

  &__link {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    color: #00000080;
    text-decoration: none;
    transition: all 0.3s ease;

    &_active {
      color: #000;
    }
  }

  &__text {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-style: regular;
    font-weight: 400;
    line-height: 1;
    color: inherit;
    letter-spacing: 0;
  }
}
