.welcomePage {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 35px 20px;
  background-color: #fff;
  gap: 130px;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }

  &__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0;
    color: #000;
  }

  &__text {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0;
    color: #00000080;
  }
}
