.connectedMessenger {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 69px;
  padding: 0 10px;
  background-color: white;
  border-radius: 10px;

  &__avatarWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    margin-right: 10px;
    background-color: #F9F9F9;
    border-radius: 50%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__title {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #000;
    letter-spacing: 0;
  }

  &__status {
    font-family: Roboto, sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    color: #00000080;
    letter-spacing: 0;
  }

  &__arrow {
    margin-left: auto;
    pointer-events: none;
    user-select: none;
    transform: rotate(-180deg);
    transition: all 0.3s ease;

    &_rotate {
      transform: rotate(0deg);
    }
  }
}